<div class="form-box col-10 offset-1">
<h1>New Illustration</h1>
<%= simple_form_for @illustration do |f| %>
  <%= f.input :caption %>
  <br />
  <%= f.submit 'Create', class: 'btn btn-primary' %>
<% end %>


</div>